<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Flask Example</title>
  {% endblock %}
</head>

<body>
  <h1>Chips</h1>
  {% include "navigation.html" %}
  <div id="content">{% block content %}{% endblock %}</div>
</body>

</html>